.AboutWrapper {
    margin-top: 10em;
}

a.button:hover {
    opacity: 1;
    transition: 0.3s;
}

a.button {
    font-size: 22px;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    padding: 20px 70px;
    background-color: transparent;
    opacity: .7
}
