.FooterWrapper {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}

ul {
    /*list-style: none;*/
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 15px;
}

.icon.social {
    color: #000;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;

    height: 100px;
    width: 100px;
    background:#6d6e71 ;
    color:#262626;
    transition: 0.3s;
}

.icon.social:hover {
    background:#262626 ;
    color:#6d6e71;
}
