.NavBar {
    display: flex;
    width: 100%;
    transition: color .3s, background-color .3s,background-image .3s 0.3s;
    background: #eeeeee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    flex: 5;
}

#links {
    flex-wrap:wrap;

    display: flex;
}

.NavBar.top {
    background: transparent;
    box-shadow: none;
}

.NavLink {
    color: black;
    transition: color 0.3s;
    text-transform: uppercase;
    padding: 25px 30px;
}

.NavBar.top .NavLink {
    color: white;
}

.NavBar .NavLink:hover {
  color: #b8b8b8;
}

.NavLink.is-active {
    color: #b8b8b8 !important;
}
